Copr build:
{{ build_url }}
({{ build_status}})

{% if build_status == "failed" %}
Build log:
{{ builder_live_log_url }}

Please make sure the package builds successfully at least for Fedora Rawhide.

- If the build failed for unrelated reasons (e.g. temporary network
  unavailability), please ignore it.
- If the build failed because of missing BuildRequires, please make sure they
  are listed in the "Depends On" field
{% else %}
Review template:
{{ review_template_url }}

{% if not issues %}
Please take a look if any issues were found.
{% else %}
Found issues:

{% for issue in issues %}
{{ issue }}
{% endfor %}

Please know that there can be false-positives.

{%- endif %}
{%- endif %}


---
This comment was created by the fedora-review-service
https://github.com/FrostyX/fedora-review-service

If you want to trigger a new Copr build, add a comment containing new
Spec and SRPM URLs or [fedora-review-service-build] string.
