There seems to be some problem with the following file.
{{ url_name }}: {{ response.url }}
Fetching it results in a {{ response.status_code }} {{ response.reason}} error.
Please make sure the URL is correct and publicly available.


---
This comment was created by the fedora-review-service
https://github.com/FrostyX/fedora-review-service

If you want to trigger a new Copr build, add a comment containing new
Spec and SRPM URLs or [fedora-review-service-build] string.

Comments containing [fedora-review-service-ignore] will not trigger builds.
