A Fedora Review ticket was approved and requires a sponsor.

RHBZ: [{{ rhbz }}]({{ url }})
Package: {{ summary }}
Contributor: {{ contributor }} (FAS @{{ fas }})
Reviewer: {{ reviewer }}

---
This ticket was created by the fedora-review-service
https://github.com/FrostyX/fedora-review-service
