Hello @{{ fas }},
please let us know if you already found a sponsor somewhere else. In
such case we can assign the correct person to this ticket and not
interfere with their process.

Feel free take this opportunity to also say a few words about
yourself. It is not mandatory so you don't have to, but it will help
us form a human connection.
